* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Styling the body with flex container properties */
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #342E37;
    /* Setting background color */
  }
  
  /* Styling for the main box */
  .box {
    position: relative;
    width: 400px;
    height: 300px;
  }
  
  /* Styling for the gradient animation on the main box */
  .box::before {
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(
      from var(--a),
      #0f0,
      #ff0,
      #0ff,
      #f0f,
      #0ff
    );
    border-radius: 20px;
    animation: rotating 4s linear infinite;
    /* Applying rotation animation */
  }
  
  /* Styling for the blurred gradient on the main box */
  .box::after {
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(
      from var(--a),
      #0f0,
      #ff0,
      #0ff,
      #f0f,
      #0ff
    );
    border-radius: 20px;
    animation: rotating 4s linear infinite;
    /* Applying rotation animation */
    filter: blur(40px);
    opacity: 0.75;
  }
  
  /* Styling for the inner span within the main box */
  .box span {
    position: absolute;
    inset: 4px;
    background: #222;
    /* Setting background color */
    border-radius: 16px;
    z-index: 1;
  }
  
  /* Custom property for the rotation angle */
  @property --a {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
  }
  
  /* Keyframes for the rotating animation */
  @keyframes rotating {
    0% {
      --a: 0deg;
    }
  
    100% {
      --a: 360deg;
    }
  }
  
  /* Styling for the text inside the nested box */
  .box .box1 span {
    color: white;
    display: flex;
    align-items: center;
    padding: 34px;
    font-family: "Pacifico", cursive;
  }
  